html{
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* outline: 2px solid white; */
}

body{
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 533px;
  width: 445px;
  background-color: rgb(123, 118, 118);
  border-radius: 10px;
}

.calculator{
  display: flex;
  align-self: stretch;
  flex: 1;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display{
  flex: 3;
  margin-bottom: 10px;
  background-color: #B2B9b7;
  align-self: stretch;
  outline: 3px solid black;
  text-align: right;
  font-size: 71px;
  font-family: monospace;
  max-width: 430px;
}

.inputs{
  flex: 11;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: start;
  width: 430px;
}

button{
  width: 105px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 24px;
  outline: 1px solid black;
}

.bigbutton{
  min-width: 100px;
  flex: 2;
  background-color: #217C7E;
}

.blue-b{
  background-color: #1E90FF;
 
}

.yellow-b{
  background-color: #FF8F1F;
}

.green-b{
  background-color: #217C7E
}
